.venv
__pycache__
*.egg-info
frontend/.next
frontend/node_modules
frontend/tsconfig.tsbuildinfo
*.tsbuildinfo
*.swp
*.swo
.env
.env.dev
.env.dev.old
.env.prod
.DS_Store

# local test uploaded dataset
backend/storage/
backend/staticfiles/
backend/public
frontend/out
frontend/out-desktop

backend/build
02_robocloud.sh
task.sh
backend/db.sqlite3
scripts/lerobot/

# conductor
.conductor-*.log
.conductor/worktrees/
.conductor/state/
conductor.log
conductor-terminal.log
Makefile

# ignore local lerobot-env
desktop/src-tauri/resources/runtime/macos

# gpu-agent logs
logs/

# local manual upload token
scripts/manual-upload/.token
