.venv
__pycache__
*.egg-info
frontend/.next
frontend/node_modules
*.swp
*.swo
.env
.DS_Store

# local test uploaded dataset
backend/storage/
backend/public
frontend/out

backend/build
02_robocloud.sh
